.container {
    max-width: 400px;
    margin: 0 auto;
    padding-top: 50px;
  }
  
  #passwordStrength {
    font-weight: bold;
    font-size: 18px;
  }
  
  .text-danger {
    color: #dc3545;
  }
  
  .text-warning {
    color: #ffc107;
  }
  
  .text-success {
    color: #28a745;
  }
  